html,
body {
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#h1Title {
	color: white;
	text-align: center;
	margin: 0;
	padding: 0.5%;
}
#divGame {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}